/* Background */ .ch-bg { color: #e2e4e5; background-color: #282a36 }
/* PreWrapper */ .ch-chroma { color: #e2e4e5; background-color: #282a36; }
/* Error */ .ch-chroma .ch-err { color: #ff5c57 }
/* LineTableTD */ .ch-chroma .ch-lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .ch-chroma .ch-lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .ch-chroma .ch-hl { background-color: #3d3f4a }
/* LineNumbersTable */ .ch-chroma .ch-lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .ch-chroma .ch-ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Line */ .ch-chroma .ch-line { display: flex; }
/* Keyword */ .ch-chroma .ch-k { color: #ff6ac1 }
/* KeywordConstant */ .ch-chroma .ch-kc { color: #ff6ac1 }
/* KeywordDeclaration */ .ch-chroma .ch-kd { color: #ff5c57 }
/* KeywordNamespace */ .ch-chroma .ch-kn { color: #ff6ac1 }
/* KeywordPseudo */ .ch-chroma .ch-kp { color: #ff6ac1 }
/* KeywordReserved */ .ch-chroma .ch-kr { color: #ff6ac1 }
/* KeywordType */ .ch-chroma .ch-kt { color: #9aedfe }
/* NameAttribute */ .ch-chroma .ch-na { color: #57c7ff }
/* NameBuiltin */ .ch-chroma .ch-nb { color: #ff5c57 }
/* NameClass */ .ch-chroma .ch-nc { color: #f3f99d }
/* NameConstant */ .ch-chroma .ch-no { color: #ff9f43 }
/* NameDecorator */ .ch-chroma .ch-nd { color: #ff9f43 }
/* NameFunction */ .ch-chroma .ch-nf { color: #57c7ff }
/* NameLabel */ .ch-chroma .ch-nl { color: #ff5c57 }
/* NameTag */ .ch-chroma .ch-nt { color: #ff6ac1 }
/* NameVariable */ .ch-chroma .ch-nv { color: #ff5c57 }
/* NameVariableClass */ .ch-chroma .ch-vc { color: #ff5c57 }
/* NameVariableGlobal */ .ch-chroma .ch-vg { color: #ff5c57 }
/* NameVariableInstance */ .ch-chroma .ch-vi { color: #ff5c57 }
/* LiteralString */ .ch-chroma .ch-s { color: #5af78e }
/* LiteralStringAffix */ .ch-chroma .ch-sa { color: #5af78e }
/* LiteralStringBacktick */ .ch-chroma .ch-sb { color: #5af78e }
/* LiteralStringChar */ .ch-chroma .ch-sc { color: #5af78e }
/* LiteralStringDelimiter */ .ch-chroma .ch-dl { color: #5af78e }
/* LiteralStringDoc */ .ch-chroma .ch-sd { color: #5af78e }
/* LiteralStringDouble */ .ch-chroma .ch-s2 { color: #5af78e }
/* LiteralStringEscape */ .ch-chroma .ch-se { color: #5af78e }
/* LiteralStringHeredoc */ .ch-chroma .ch-sh { color: #5af78e }
/* LiteralStringInterpol */ .ch-chroma .ch-si { color: #5af78e }
/* LiteralStringOther */ .ch-chroma .ch-sx { color: #5af78e }
/* LiteralStringRegex */ .ch-chroma .ch-sr { color: #5af78e }
/* LiteralStringSingle */ .ch-chroma .ch-s1 { color: #5af78e }
/* LiteralStringSymbol */ .ch-chroma .ch-ss { color: #5af78e }
/* LiteralNumber */ .ch-chroma .ch-m { color: #ff9f43 }
/* LiteralNumberBin */ .ch-chroma .ch-mb { color: #ff9f43 }
/* LiteralNumberFloat */ .ch-chroma .ch-mf { color: #ff9f43 }
/* LiteralNumberHex */ .ch-chroma .ch-mh { color: #ff9f43 }
/* LiteralNumberInteger */ .ch-chroma .ch-mi { color: #ff9f43 }
/* LiteralNumberIntegerLong */ .ch-chroma .ch-il { color: #ff9f43 }
/* LiteralNumberOct */ .ch-chroma .ch-mo { color: #ff9f43 }
/* Operator */ .ch-chroma .ch-o { color: #ff6ac1 }
/* OperatorWord */ .ch-chroma .ch-ow { color: #ff6ac1 }
/* Comment */ .ch-chroma .ch-c { color: #78787e }
/* CommentHashbang */ .ch-chroma .ch-ch { color: #78787e }
/* CommentMultiline */ .ch-chroma .ch-cm { color: #78787e }
/* CommentSingle */ .ch-chroma .ch-c1 { color: #78787e }
/* CommentSpecial */ .ch-chroma .ch-cs { color: #78787e }
/* CommentPreproc */ .ch-chroma .ch-cp { color: #78787e }
/* CommentPreprocFile */ .ch-chroma .ch-cpf { color: #78787e }
/* GenericDeleted */ .ch-chroma .ch-gd { color: #ff5c57 }
/* GenericEmph */ .ch-chroma .ch-ge { text-decoration: underline }
/* GenericError */ .ch-chroma .ch-gr { color: #ff5c57 }
/* GenericHeading */ .ch-chroma .ch-gh { font-weight: bold }
/* GenericInserted */ .ch-chroma .ch-gi { font-weight: bold }
/* GenericOutput */ .ch-chroma .ch-go { color: #43454f }
/* GenericStrong */ .ch-chroma .ch-gs { font-style: italic }
/* GenericSubheading */ .ch-chroma .ch-gu { font-weight: bold }
/* GenericUnderline */ .ch-chroma .ch-gl { text-decoration: underline }
